<!--The content below is only a placeholder and can be replaced.-->
<header>
  <a [routerLink]="['']">home</a>

  <h1>Angular JWT Example</h1>

  <div *ngIf="authService.isLoggedIn()">
    Logged in as {{authService.getLoggedInUser()}}
    | <a (click)="logout()" href>Logout</a>
  </div>

  <div *ngIf="authService.isLoggedOut()">
    <a [routerLink]="['login']">Login</a>
  </div>

</header>

<div>
  <ul>
    <li><a [routerLink]="['api-test']">API Test</a></li>
    <li><a [routerLink]="['protected']">Protected</a></li>
  </ul>
</div>



<div *ngIf="!authService.isLoggedIn()">
  You are currently logged out.
  Please <a [routerLink]="['/login']">log in</a>.
</div>

<router-outlet></router-outlet>